.header {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main {
  margin-bottom: 30px;
}
.tab-content {
  margin: auto;
}

.search {
  margin-bottom: 25px;
}

#search-tab, #search {
  visibility: hidden;
}

.main-nowPly, .main-topRated, .main-popular, .main-search {
	margin-top: 25px;
}

.main-nowPly > div > div,
.main-topRated > div > div,
.main-popular > div > div,
.main-search > div > div {
	height: 450px;
	width: 300px;
  box-sizing: border-box;
	border-radius: 10px;
	border: 2px solid black;
  display: inline-block;
  margin: 10px;
}

.nowPly-movie-info, .topRated-movie-info, .popular-movie-info, .search-movie-info {
	border-radius: 5px;
	padding: 5px 10px;
	margin-top: 15px;
  visibility: hidden;
  color: black;
  background-color: white;
  opacity: 0.8;
}


